H1 {
    color: #000;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif,;
    text-align: center;

}
p {
    padding-left: 30px;
}
a {
  padding-left: 30px;  
}
img {
  padding-left: 30px;
    
}